/*--------- Book Cover ------------*/
.bookList__book {
    padding: 0;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto 1fr auto auto;
    border-bottom: 0px;
    grid-column-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    position: relative;
    display: grid;
}

.bookList__book-wrapper {
    border-radius: 0.25rem;
    align-self: stretch;
    border-width: 1px;
    background-color: #f6f5f7;
    grid-row: span 1 / span 1;
    border-color: #f0f0f0;
    position: relative;
    height: 280px;
    width: 100%;
}

.booklist-book-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.bookList__book-image {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 6px 12px rgb(0 0 0 / 30%);
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
}

.bookList__book-image:hover {
    box-shadow: 0px 11px 18px rgb(0 0 0 / 30%);
    transform: scale(1.025);
}

.bookList__book-image > img {
    display: block;
    height: auto;
    background-color: #fff4;
    border-radius: 6px;
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.bookList__book-titleAndAuthor {
    height: 90px;
}

/*--------- Book Title ------------*/
.bookList__book-title {
    line-height: 1.25;
    margin-bottom: 0;
    font-family: GT Super Bold, serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.bookList__book-title a {
    color: inherit;
    text-decoration: inherit;
    background-color: transparent;
}

/*--------- Book Author ------------*/

.bookList__book-author {
    font-size: 14px;
    font-weight: inherit;
    margin: 8px 0;
}

/*--------- Book Price ------------*/
.bookList__book-price {
    padding-bottom: 1rem;
    font-size: 14px;
    align-self: flex-start;
}

.bookList__book-price-old {
    text-decoration: line-through;
    margin-right: 0;
    font-size: 16px;
}

.bookList__book-price-new {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 20px;
    font-weight: 550;
    color: var(--button-color);
    margin-top: 8px;
}

/*--------- Add to cart button ------------*/

.bookList__add-btn {
    width: 192px;
    height: 38px;
    border-radius: 1000px;
    background-color: var(--button-color);
    border: none;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
    margin-right: 4px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.bookList__add-btn:hover {
    background-color: #bf1f49;
    box-shadow: 1px 7px 13px 0px rgb(67 0 17 / 13%);
    transform: scale(1.02);
}
