.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--navbar-height) + 64px);
    margin-bottom: 194px;
    min-height: 352px;
}

.cart-title {
    font-size: 3.6rem;
    color: #27985a;
}

.cart-table {
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    margin: 25px 0;
    font-size: 2rem;
    min-width: 1180px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.cart-table thead tr {
    background-color: #27985a;
    color: #ffffff;
    text-align: left;
}

.thead-price {
    min-width: 160px;
}

.cart-table th,
.cart-table td {
    padding: 12px 15px;
}

.cart-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.cart-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.cart-table tbody tr:last-of-type {
    border-bottom: 2px solid #27985a;
}

.cart-table__book-img-container {
    width: 156px;
    height: 236px;
}

.cart-table__book-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-table__book-detail {
    max-width: 596px;
    display: flex;
}

.cart-table__book-detail-right {
    margin-left: 16px;
}

.cart-table__book-name {
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.cart-table__book-author {
    font-size: 1.6rem;
    font-weight: 400;
}

.cart-table__book-price {
    text-align: left;
    font-weight: 500;
}

.cart-table__book-quantity {
    text-align: center;
}

.cart-table__book-status {
    display: flex;
    align-items: center;
    color: #27985a;
    font-size: 1.6rem;
}

.cart-table__book-statusIcon {
    margin-bottom: 2px;
    margin-right: 2px;
}

.action {
    display: flex;
}

.sub-btn,
.add-btn {
    width: 50px;
    height: 30px;
    margin: 0 6px;
    border: none;
    padding: 2px 0 0 0;
    color: var(--white-color);
    border-radius: 6px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.sub-btn {
    background-color: var(--button-color);
}

.add-btn {
    background-color: #27985a;
}

.remove-btn {
    width: 70px;
    height: 30px;
    margin: 0 6px;
    padding: 4px 0 0 0;
    border: none;
    text-align: center;
    padding: 0;
    color: var(--white-color);
    background-color: var(--button-color);
    border-radius: 6px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.sub-btn:hover,
.add-btn:hover,
.remove-btn:hover,
.clear-btn:hover,
.pay-btn:hover {
    opacity: 80%;
}

.cart-footer {
    display: flex;
    width: calc(100% - 650px);
    margin-top: 24px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.cart-footer__total {
    font-size: 3rem;
    margin: 0 8px;
    font-weight: 500;
}

.clear-btn {
    width: 156px;
    height: 36px;
    margin: 0 8px;
    padding: 4px 0 0 0;
    border: none;
    text-align: center;
    padding: 0;
    color: var(--white-color);
    background-color: var(--button-color);
    border-radius: 6px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.pay-btn {
    width: 136px;
    height: 36px;
    margin: 0 8px;
    padding: 4px 0 0 0;
    border: none;
    text-align: center;
    padding: 0;
    color: var(--white-color);
    background-color: #27985a;
    border-radius: 6px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    cursor: pointer;
}
