.bonus-container {
    display: flex;
    justify-content: center;
    margin: 20px auto 30px;
}

.bonus-wrap {
    width: 1080px;
}

.bonus-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.bonus-header__left {
    display: flex;
    align-items: center;
}

.bonus-header__fieldName {
    font-size: 2.8rem;
    font-weight: 500;
    margin-left: 12px;
}

.bonus-header__under-logo {
    width: 50px;
    height: auto;
}

.bonus-header__under-name {
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 12px;
}

.bonus-body__row {
    display: flex;
    width: 100%;
    height: 164px;
}

.bonus-body__column {
    display: flex;
    width: calc(100% / 4);
    height: 100%;
    padding-right: 12px;
}

.bonus-body__column-img {
    width: 96px;
    height: 144px;
}

.bonus-body__column-img-link {
    text-decoration: none;
    color: var(--text-color);
}

.bonus-book {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
}

.bonus-book:hover {
    box-shadow: 0px 11px 18px rgb(0 0 0 / 30%);
    transform: scale(1.025);
}

.bonus-body__column-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bonus-body__column-detail p {
    font-size: 1.6rem;
    margin: 0 0 12px 8px;
}

.bonus-body__column-detail h3 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 0 0 8px 8px;
    text-align: inherit;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.bonus-body__column-detail-price {
    color: var(--button-color);
}
