.best-seller-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.best-seller__title {
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0 40px 0;
}

.best-seller-wrap {
    display: flex;
    width: 766px;
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #e8e8ea;
}

.best-seller__left-img-link {
    width: 128px;
    height: 192px;
}

.best-seller__left-img-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 128px;
    height: 192px;
}

.best-seller__left-img {
    width: 128px;
    height: 192px;
    display: block;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 6px 12px rgb(0 0 0 / 30%);
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
}

.best-seller__left-img:hover {
    box-shadow: 0px 11px 18px rgb(0 0 0 / 30%);
    transform: scale(1.025);
}

.best-seller__right {
    margin-left: 12px;
}

.best-seller__right-title-h1 {
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
    margin: 6px 0 12px;
}

.best-seller__left-img-link {
    text-decoration: none;
}

.best-seller__right-author p {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 8px 0;
    color: #53393b;
}

.best-seller__right-price p {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--third-color);
    margin: 8px 0;
}

.best-seller__right-desc p {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.3;
    text-align: inherit;
    color: #53393b;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
