.profile__wrap {
    display: flex;
    justify-content: center;
    margin-top: var(--navbar-height);
    height: 100vh;
}

.profile__content {
    margin: 40px 0;
    min-width: 1080px;
    padding: 20px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.profile__content h1 {
    font-size: 5rem;
    font-family: GT Super Bold, serif;
}

.profile__content p {
    color: var(--text-color);
    font-family: IBM Plex Sans, sans-serif;
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.profile__content-item {
    margin-top: 40px;
}

.profile__content-item h1 {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
    margin: 20px 0 38px;
    color: var(--button-color);
}

.clickViewOrder {
    text-decoration: none;
}

.order-details__items:hover {
    background-color: #de24530a;
}

.order-details__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1080px;
    margin: 12px 0;
    padding: 0 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.order-details__item-name h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--button-color);
}

.order-details__item-order-date-p {
    color: var(--text-color);
}