.formMain {
    /* background: #f6f5f7; */
    background-image: linear-gradient(57deg, var(--primary-color), var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-family: "Montserrat", sans-serif; */
    height: 100vh;
    margin: 0;
}

.Signup-label {
    margin-bottom: 40px;
}

.Signin-label {
    margin-bottom: 10px;
}

.formMain h1 {
    font-weight: bold;
    font-size: 4.2rem;
}

.formMain h2 {
    text-align: center;
}

.formMain p {
    /* font-family: monospace; */
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    max-width: 350px;
}

.formMain span {
    /* font-family: monospace; */
    font-size: 1.6rem;
}

.formMain a {
    /* font-family: monospace; */
    color: #333;
    font-size: 1.6rem;
    text-decoration: none;
    margin: 15px 0;
}

.formMain button {
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.formMain button:hover {
    cursor: pointer;
    background-color: #40c176;
}

.formMain button:active {
    transform: scale(0.95);
}

.formMain button:focus {
    outline: none;
}

.formMain button.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

.formMain form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.formMain input {
    background-color: #eee;
    border: none;
    border-radius: 6px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

/* Container */

.formMain .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 1080px;
    max-width: 100%;
    min-height: 720px;
    animation: bobbingAnim ease-in 1s;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: linear-gradient(314deg, #66ce91, #cf6883);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    font-size: 48px;
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 50px;
    height: 50px;
    line-height: 66px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
}

.social-container::after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #66ce9180;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}

.social-container:hover {
    background-color: #fff;
}

.social-container:hover::after {
    opacity: 1;
    transform: scale(1.15);
}

.social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 60px;
    width: 60px;
}

button.ghost {
    cursor: pointer;
}

button.ghost:hover {
    border: 2px solid #fff;
}

.btn-SignUp {
    margin-top: 8px;
    margin-bottom: 16px;
}

@keyframes bobbingAnim {
    0% {
        opacity: 0%;
        transform: translate(0px, 40px) rotateZ(0.001deg);
    }

    100% {
        opacity: 100%;
        transform: translate(0px, 0px) rotateZ(0.001deg);
    }
}

/* Toastify */
.Toastify__close-button {
    display: none;
}

.Toastify__toast {
    font-size: 1.4rem;
}
