.cancel-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cancel-notification {
    opacity: 0;
    font-weight: 500;
    font-size: 4rem;
    font-family: Georgia, serif;
    color: #e55d5d;
    animation: animatedNotification 0.75s ease-out forwards 0.75s;
}

.cancel-container__back {
    opacity: 0;
    border: none;
    padding: 10px;
    border-radius: 999px;
    cursor: pointer;
    background-color: #e55d5d;
    color: var(--white-color);
    font-size: 1.6rem;
    animation: animatedNotification 0.75s ease-out forwards 0.75s;
}

.cancel-container__back:hover {
    background-color: #e47777;
}

@keyframes animatedNotification {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
