body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;
    --button-color: #de2454;
    --footer-color: #2b0f42;

    --navbar-height: 118px;
    --footer-height: 210px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Button */

.btn-primary {
    width: 192px;
    height: 38px;
    border-radius: 14px;
    background-color: var(--button-color);
    border: none;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
    margin-right: 4px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover {
    background-color: #bf1f49;
    box-shadow: 1px 7px 13px 0px rgb(67 0 17 / 13%);
    transform: scale(1.02);
}

/* Paginate */
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    border-top: 5rem;
    font-size: 2.6rem;
    gap: 5px;
    margin-bottom: 60px;
}

.pagination .page-num {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
}

.pagination .page-num:hover {
    background-color: var(--button-color);
    color: var(--white-color);
}

.pagination .active {
    background-color: var(--button-color);
}

/* THE LOADING EFFECT */
.skeleton {
    background-color: #e2e5e7;
    background-image: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 0.5), rgba(#fff, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1s ease infinite;
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}
